@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-surface-white text-text-primary;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
